name: Build Spigot Plugin

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Plugin
        run: mvn -f plugin/pom.xml clean package

      - name: Upload Plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: DiscordLinkPlugin
          path: plugin/target/*.jar
